/* Dracula GTK4 Theme Override */

@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-dark.css");

/* Dracula color definitions */
@define-color accent_color #bd93f9;
@define-color accent_bg_color #bd93f9;
@define-color accent_fg_color #282a36;
@define-color destructive_color #ff5555;
@define-color destructive_bg_color #ff5555;
@define-color success_color #50fa7b;
@define-color success_bg_color #50fa7b;
@define-color warning_color #ffb86c;
@define-color warning_bg_color #ffb86c;
@define-color error_color #ff5555;
@define-color error_bg_color #ff5555;
@define-color window_fg_color #f8f8f2;
@define-color window_bg_color #282a36;
@define-color view_fg_color #f8f8f2;
@define-color view_bg_color #44475a;
@define-color headerbar_bg_color #44475a;
@define-color headerbar_fg_color #f8f8f2;
@define-color headerbar_border_color #44475a;
@define-color card_bg_color #44475a;
@define-color card_fg_color #f8f8f2;
@define-color dialog_bg_color #282a36;
@define-color link_color #8be9fd;
@define-color link_visited_color #bd93f9;
@define-color popover_bg_color #44475a;
@define-color popover_fg_color #f8f8f2;
@define-color shade_color #000000;
@define-color borders #44475a;
@define-color dark_borders #44475a;