[Unit]
Description=Run all first boot scripts in /etc/firstboot.d
After=network-online.target
ConditionPathExists=/etc/firstboot.d

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'run-parts --exit-on-error /etc/firstboot.d && systemctl disable firstboot-scripts.service'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
