@import "/etc/wofi/colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 500;
  border: none;
  outline: none;
  background: transparent;
  color: @fg;
}

window {
  background-color: @bg;
  border: 2px solid @accent;
  border-radius: 10px;
  padding: 10px;
}

#input {
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
  background-color: @bg_alt;
  color: @accent2;
}

#inner-box {
  margin: 6px;
}

#entry {
  padding: 8px;
  border-radius: 6px;
  margin: 4px 0;
}

#entry:selected {
  background-color: @accent;
  color: @bg;
  border-radius: 6px;
}

#text {
  margin-left: 8px;
}

#img {
  margin-right: 8px;
}

#scroll {
  margin: 6px;
}