@import url("wallust/colors-waybar.css");

/* Bar background and text */
#waybar {
  background: @background;
  color: @foreground;
  border-radius: 8px;
  font-family: JetBrainsMono, Victor Mono, monospace;
  font-size: 14px;
}

/* Workspaces */
#workspaces button {
  background: @background-alt;
  color: @color7;
  border-radius: 6px;
  margin: 2px;
  padding: 0 8px;
}
#workspaces button.active {
  background: @color13;
  color: @background;
}

/* Clock */
#clock {
  background: @color0;
  color: @color7;
  border-radius: 6px;
  padding: 0 12px;
}

/* Tray */
#tray {
  background: @color2;
  color: @foreground;
  border-radius: 6px;
  padding: 0 8px;
}

/* Headset Battery */
#custom-headset-battery {
  background: @color5;
  color: @background;
  font-weight: bold;
  padding: 0 16px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 6px;
}

/* Tooltip */
.tooltip {
  background: @background-alt;
  color: @foreground;
  border-radius: 6px;
}
