# Rule to trigger lid action script on lid change
# This rule triggers whenever the lid switch state changes
ACTION=="change", SUBSYSTEM=="button", KERNEL=="lid*", RUN+="/usr/lib/hyprbazzite/etc/hypr/scripts/lidact.sh %s"
